{% extends 'admin_layout.html' %}

{% block content %}
<div class="rest">
    {% if msg %}
        <div class="notification-popup" id="notification-green">
            <p>{{ msg }}</p>
            <button class="close-button" id="close-green" onclick="closePopup()">X</button>
        </div>
    {% endif %}
    
    <h1>Admin Dashboard</h1>

    <h2>Manage Services</h2>
    <table class="table-style"> 
        <thead>
            <tr>
                <th>Service ID</th>
                <th>Service Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if services %}
                {% for service in services %}
                <tr>
                    <td><button class="view-button" onclick="window.location.href='/admin/view/services?service_id={{ service.id }}'">{{ service.id }}</button></td>
                    <td>{{ service.service_name }}</td>
                    <td >
                        <button class="edit-button" onclick="window.location.href='/admin/edit_service/{{ service.id }}'">Edit</button> 
                        <button class="red-button"  onclick="if(confirm('Are you sure you want to delete this service?')) window.location.href='/admin/delete_service/{{ service.id }}'">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" align="center">No services found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <button onclick="window.location.href='/admin/add_service'" class="green" id ="add_service">+ Add Services</button>

    <h2>Manage Packages</h2>

    <table class="table-style">
        <thead>
            <tr>
                <th>Package ID</th>
                <th>Package Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if packages %}
                {% for package in packages %}
                <tr>
                    <td><button class="view-button" onclick="window.location.href='/admin/view/packages?package_id={{ package.id }}'">{{ package.id }}</button></td>
                    <td>{{ package.package_name }} ({{ package.service.service_name }})</td>
                    <td>{{ package.price }}</td>
                    <td >
                        <button class="edit-button" onclick="window.location.href='/admin/edit_package/{{ package.id }}'">Edit</button> 
                        <button class="red-button"  onclick="if(confirm('Are you sure you want to delete this package?')) window.location.href='/admin/delete_package/{{ package.id }}'">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" align="center">No packages found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <button onclick="window.location.href='/admin/add_package'" class="green" id ="add_package">+ Add Packages</button>
    
    <h2>Manage Users</h2>

    <h3>Professionals:</h3>
        <table class="table-style">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Contact No.</th>
                    <th>Service Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if professionals %}
                    {% for professional in professionals %}
                        <tr>
                            <td><button class="view-button" onclick="window.location.href='/admin/view/professionals?professional_id={{ professional.user.id }}'">{{ professional.user.id }}</button></td>
                            <td>{{ professional.full_name }}</td>
                            <td>{{ professional.user.email }}</td>
                            <td>{{ professional.contact }}</td>
                            <td>{{ professional.service.service_name }}</td>
                            <td>{{ professional.user.user_status }}</td>
                            <td>
                                {% if professional.user.user_status == 'inactive' %}
                                    <button class="green" onclick="window.location.href='/admin/approve_user/{{ professional.user.id }}'">Approve</button>
                                    <button class="red-button" onclick="window.location.href='/admin/reject_user/{{ professional.user.id }}'">Reject</button>
                                {% elif professional.user.user_status == 'rejected' %}
                                    <button class="red-button" onclick="if(confirm('Are you sure you want to delete this user?')) window.location.href='/admin/delete_user/{{ professional.user.id }}'">Delete</button>
                                {% else %}
                                    {% if professional.user.user_status == 'active' %}
                                    <button class="red-button" onclick="window.location.href='/admin/block_user/{{ professional.user.id }}'">Block</button>
                                    {% elif professional.user.user_status == 'blocked' %}
                                    <button class="edit-button" onclick="window.location.href='/admin/unblock_user/{{ professional.user.id }}'">Unblock</button>
                                    {% endif %}
                                    <button class="red-button" onclick="if(confirm('Are you sure you want to delete this user?')) window.location.href='/admin/delete_user/{{ professional.user.id }}'">Delete</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" align="center">No registered professionals.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

    
    <h3>Customers:</h3>
        <table class="table-style">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Contact No.</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if customers %}
                    {% for customer in customers %}
                        <tr>
                            <td><button class="view-button" onclick="window.location.href='/admin/view/customers?customer_id={{customer.user.id}}'">{{ customer.user.id }}</button></td>
                            <td>{{ customer.full_name }}</td>
                            <td>{{ customer.user.email }}</td>
                            <td>{{ customer.contact }}</td>
                            <td>{{ customer.user.user_status }}</td>
                            <td>
                                {% if customer.user.user_status == 'active' %}
                                <button class="red-button" onclick="window.location.href='/admin/block_user/{{ customer.user.id }}'">Block</button>
                                {% elif customer.user.user_status == 'blocked' %}
                                <button class="edit-button" onclick="window.location.href='/admin/unblock_user/{{ customer.user.id }}'">Unblock</button>
                                {% endif %}
                                <button class="red-button" onclick="if(confirm('Are you sure you want to delete this user?')) window.location.href='/admin/delete_user/{{ customer.user.id }}'">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}    
                    <tr>
                        <td colspan="6" align="center">No registered customers.</td>
                    </tr>    
                {% endif %}
            </tbody>
        </table>

    <h2>Service Requests</h2>
        <table class="table-style">
            <thead>
                <tr>
                    <th>Service ID</th>
                    <th>Service Name</th>
                    <th>Package Name</th>
                    <th>Professional</th>
                    <th>Customer</th>
                    <th>Date Created / Completed</th>
                    <th>Status</th>
                    <th>Ratings</th>
                </tr>
            </thead>
            <tbody>
                {% if service_requests %}
                    {% for request in service_requests %}
                            <tr>
                                <td>{{ request.id }}</td>
                                <td>{{ request.package.service.service_name }}</td>
                                <td>{{ request.package.package_name }}</td>
                                {% if request.professional %}
                                <td>{{ request.professional.full_name }}</td>
                                {% else %}
                                <td>Not assigned</td>
                                {% endif %}
                                <td>{{ request.customer.full_name }}</td>
                                {% if request.status == 'completed' %}
                                    <td>{{ request.date_of_complete.strftime("%d-%m-%Y") }}</td>
                                {% else %}
                                    <td>{{ request.date_of_request.strftime("%d-%m-%Y") }}</td>
                                {% endif %}
                                <td>{{ request.status }}</td>
                                {% if request.rating %}
                                    <td class="star">
                                        {% for i in range(request.rating) %}★{% endfor %}
                                    </td>
                                {% else %}
                                    {% if request.status == 'completed' %}
                                        <td>Not Rated</td>
                                    {% else %}
                                        <td align="center">-</td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                    {% endfor %}
                {% else %}    
                    <tr>
                        <td colspan="8" align="center">No requests found.</td>
                    </tr>    
                {% endif %}
            </tbody>
        </table>
</div    
{% endblock %}
