{% extends "admin_layout.html" %}

{% block content %}

  <div class="edit-package">
    <div class="edit-package-container">
      <h2>Edit Package</h2>
      <form action="/admin/edit_package/{{ package.id }}" method="POST">
        <label for="service_id">Select Service:</label>
        <select id="service_id" name="service_id" required>
          <option disabled>Select a Service</option>
          {% for service in services %}
            <option value="{{ service.id }}" {% if service.id == package.service_id %}selected{% endif %}>
              {{ service.service_name }}
            </option>
          {% endfor %}
        </select>
        <br>

        <label for="package_name">Package Name:</label>
        <input type="text" id="package_name" name="package_name" value="{{ package.package_name }}" required>
        <br>
        
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01" value="{{ package.price }}" required>
        <br>

        <input type="submit" value="Confirm" class="green">
      </form>
      <br>

      <button onclick="window.location.href='/admin'">Go Back</button>

    </div>
  </div>

{% endblock %}
