<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Dashboard</title>
    <link rel="stylesheet" href="/static/styles/main.css">
</head>
<body class="admin-page">
    <div class="nav">
        <nav>
            <ul>
                <li><p>Household Services</p></li>
                <li><a href="/professional_dashboard">Home</a></li>
                <li><a href="/professional/search">Search</a></li>
                <li><a href="/summary/professional">Summary</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/professional_profile" class="profile">Profile</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script>
        function closePopup() {
            document.getElementById("notification-green").style.display = "none";
            window.location.href = '/professional_dashboard';
        }
    </script>
</body>
</html>