{% extends "professional_layout.html" %}

{% block content %}
<div class="user-profile">
    <div class="user-profile-container">
        <h2>User Profile</h2>
        <form>
            <label>User ID</label>
            <input type="text" value="{{ professional.user_id }}" disabled>
            <label>Full Name:</label>
            <input type="text" value="{{ professional.full_name }}" disabled>
            <br>
            <label>Email:</label>
            <input type="email" value="{{ professional.user.email }}" disabled>
            <br>
            <label>Service:</label>
            <input type="text" value="{{ professional.service.service_name }}" disabled>
            <br>
            <label>Contact:</label>
            <input type="text" value="{{ professional.contact }}" disabled>
            <br>
            <label>Address:</label>
            <input type="text" value="{{ professional.address }}" disabled>
            <br>
            <label>Pin Code:</label>
            <input type="text" value="{{ professional.pin_code }}" disabled>
        </form>
        <button onclick="window.location.href='/professional_profile_edit'" class="edit-button">Edit</button>
    </div>
</div>
    
{% endblock %}